
# Executables
client/bin/Release/Nova.exe
server/bin/Release/NovaServer.exe
*.exe

# Build artifacts
client/obj/
server/obj/
client/bin/Release/data/
server/bin/Release/data/

# Logs
server/bin/Release/server.log
*.log
sdk/tests/nova_tests
